<!DOCTYPE html>
<html>
    <div class="dash">
        <img class="img-fluid" src='https://miro.medium.com/v2/resize:fit:1400/1*kUSvz1_db_u8vxpKE0YpfQ.png' alt="" style="width:100%;"> 
        <div class="text">
            <h1>Find your <strong>dream job</strong> here easily and quickly</h1>
            <p>small to large companies open job vacancies here, find and apply for your dream job easily</p>
            <a igxRipple [routerLink]="['/job-seeker-home/job-opportunities']" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Search Job</a>
            <a igxRipple [routerLink]="['/job-seeker-home/job-seeker-create-profile']" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Complete Profile</a>
        </div>
    </div>
    <router-outlet></router-outlet>
</html>   


