<!doctype html>
<html lang="en">
<div class="container">
	<div fxFlex="100%">
		<mat-card>
			<mat-card-title>
				Profile details
			</mat-card-title>
			<mat-divider></mat-divider>
			<mat-card-content>
				<div class="row">
					<div class="col">
						<div matLine>
							<label>Username: </label>
							<span *ngIf="!editMode">{{user.username}}</span>
							<mat-form-field *ngIf="editMode">
								<input matInput name="username" [(ngModel)]="user.username" disabled="true">
							</mat-form-field>
						</div>
					</div>
					<div class="col">
						<div matLine>
							<label>Country: </label>
							<span *ngIf="!editMode">{{user.address.country}}</span>
							<mat-form-field *ngIf="editMode">
								<input matInput name="country" [(ngModel)]="user.address.country" required>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div matLine>
							<label>Eamil: </label>
							<span *ngIf="!editMode">{{user.email}}</span>
							<mat-form-field *ngIf="editMode">
								<input matInput name="email" [(ngModel)]="user.email" required>
							</mat-form-field>
						</div>
					</div>
					<div class="col">
						<div matLine>
							<label>State: </label>
							<span *ngIf="!editMode">{{user.address.state}}</span>
							<mat-form-field *ngIf="editMode">
								<input matInput name="state" [(ngModel)]="user.address.state" required>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div matLine>
							<label>First name: </label>
							<span *ngIf="!editMode">{{user.firstName}}</span>
							<mat-form-field *ngIf="editMode">
								<input matInput name="firstName" [(ngModel)]="user.firstName" required>
							</mat-form-field>
						</div>
					</div>
					<div class="col">
						<div matLine>
							<label>City: </label>
							<span *ngIf="!editMode">{{user.address.city}}</span>
							<mat-form-field *ngIf="editMode">
								<input matInput name="city" [(ngModel)]="user.address.city" required>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div matLine>
							<label>Last name: </label>
							<span *ngIf="!editMode">{{user.lastName}}</span>
							<mat-form-field *ngIf="editMode">
								<input matInput name="lastName" [(ngModel)]="user.lastName" required>
							</mat-form-field>
						</div>
					</div>
					<div class="col">
						<div matLine>
							<label>Street: </label>
							<span *ngIf="!editMode">{{user.address.street}}</span>
							<mat-form-field *ngIf="editMode">
								<input matInput name="street" [(ngModel)]="user.address.street" required>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div matLine>
							<label>Gender: </label>
							<span *ngIf="!editMode">{{user.gender}}</span>
							<mat-form-field *ngIf="editMode">
								<mat-select name="gender" [(ngModel)]="user.gender">
									<mat-option value="male">Male</mat-option>
									<mat-option value="female">Female</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
					<div class="col">
						<div matLine>
							<label>Postal code: </label>
							<span *ngIf="!editMode">{{user.address.postalCode}}</span>
							<mat-form-field *ngIf="editMode">
								<input matInput name="postalCode" [(ngModel)]="user.address.postalCode" required>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div matLine>
							<label>Age: </label>
							<span *ngIf="!editMode">{{user.age}}</span>
							<mat-form-field *ngIf="editMode">
								<input matInput name="age" [(ngModel)]="user.age" required>
							</mat-form-field>
						</div>
					</div>
				</div>
				<mat-divider></mat-divider>
				<div class="row">
					<div class="col">
						<div matLine>
							<label>Company : </label>
							<span *ngIf="!editMode"><mat-chip *ngIf="user.company.name">{{user.company.name}}</mat-chip></span>
							<mat-form-field *ngIf="editMode">
								<input matInput name="name" [(ngModel)]="user.company.name" required>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div matLine>
							<label>Number of employees: </label>
							<span *ngIf="!editMode"><mat-chip *ngIf="user.company.numberOfEmployee">{{user.company.numberOfEmployee}}</mat-chip></span>
							<mat-form-field *ngIf="editMode">
								<input matInput name="numberOfEmployee" [(ngModel)]="user.company.numberOfEmployee" required>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div matLine>
							<label>Description: </label>
							<span *ngIf="!editMode"><mat-chip *ngIf="user.company.description">{{user.company.description}}</mat-chip></span>
							<mat-form-field *ngIf="editMode">
								<input matInput name="description" [(ngModel)]="user.company.description" required>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div matLine>
							<label>Website: </label>
							<span *ngIf="!editMode"><mat-chip *ngIf="user.company.website">{{user.company.website}}</mat-chip></span>
							<mat-form-field *ngIf="editMode">
								<input matInput name="website" [(ngModel)]="user.company.website" required>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div></div>
			</mat-card-content>
			<mat-card-actions>
				<button (click)="editMode=!editMode" mat-raised-button color="primary">
					Update profile
				</button>
				<button *ngIf="editMode" (click)="updateProfile()" mat-raised-button color="primary">
					Save
				</button>
				<button *ngIf="editMode" (click)="editMode=false" mat-raised-button color="warn">
					Cancel
				</button>
			</mat-card-actions>
		</mat-card>
	</div>
</div>
</html>