<!doctype html>
<html lang="en">
<div class="container">
	<div>
		<div class="col-lg-10 mx-auto mb-4">
			<div class="section-title text-center ">
				<!-- <h3 class="top-c-sep">some text</h3>
				<p>some text</p> -->
			</div>
		</div>
	</div>
	<div class="grid-container">
		<div class="grid-item" *ngFor="let post of posts">
			<mat-card class="job-content">
				<div class="job-left my-4 d-md-flex align-items-center flex-wrap">
					<mat-card-content>
						<mat-card-header>
							<mat-card-title>{{post.title}}</mat-card-title>
						</mat-card-header>
						<mat-divider></mat-divider>
						<h2>Posted by:</h2>
						<p> Candidate :
							{{post.seeker.username}}
						</p>
						<p> Certifications :
							{{post.seeker.certifications}}
						</p>
						<p> Years of Experience :
							{{post.seeker.yearsOfExperience}}
						</p>
						<p> Education :
							{{post.seeker.education}}
						</p>
						<p> Level of Experience :
							{{post.seeker.experienceLevel}}
						</p>
						<mat-divider></mat-divider>
						<h2>Description:</h2>
						<p>
							{{post.description}}
						</p>
						<mat-divider></mat-divider>
						<h2>Skills:</h2>
						<p>
							{{post.skills}}
						</p>
						<mat-divider></mat-divider>
						<h2>Resume :</h2>
						<p>
							{{"TODO"}}
						</p>
						<mat-divider></mat-divider>
						<h2>Tags :</h2>
						<p>
							<mat-chip *ngFor="let tag of post.tags" class="mat-chip">
								<div class="inside-mat-chip">{{tag}}</div>
							</mat-chip>
						</p>
						<h2>Keywords :</h2>
						<p>
							<mat-chip *ngFor="let k of post.keywords" class="mat-chip">
								<div class="inside-mat-chip">{{k}}</div>
							</mat-chip>
						</p>
						<mat-divider></mat-divider>
					</mat-card-content>
				</div>
				<mat-card-actions>
					<button mat-raised-button color="primary" (click)="deleteJobSeekerPost(post.id)">DELETE</button>
					<button mat-raised-button color="primary" (click)="openViewDialog(post.id)">VIEW</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>

</html>