mat-card {
	max-width: 850px;
	margin: 5em auto;
	text-align: left;
	display: grid;
	font-size: 17px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.452);
}

mat-raised-button {
	min-width: 150px;
	margin-left: 3px;
	margin-right: 3px;
	display: block;
	font-size: 17px;
}

mat-chip {
	font-size: 16px;
	margin-left: 3px;
	margin-right: 3px;
}


label {
	margin-right: 10px;
}

mat-form-field {
	min-width: 200px;
	margin-left: 3px;
	margin-right: 3px;
	min-height: 69px;
	max-height: 69px;
	font-size: 17px;
	display: inline-flexbox;
}

mat-card-title {
	margin-top: 5px;
	text-align: center;
	color: #4050B5;
	font-size: 22px;
}

mat-card-subtitle {
	font-size: 17px;
	display: block;
	text-align: center;
	background-color: aliceblue;
}

.row {
	font-size: 17px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5px;
	min-height: 37px;
	max-height: 37px;
}