<!-- Top navbar -->
<div class="navbar-container">
	<mat-toolbar class="navbar" color="primary">
		<!-- this doesn't work, will be fixed later -->
		<button (click)="[]" mat-icon-button>
			<mat-icon>menu</mat-icon>
		</button>
		<a class="navbar-brand" matTooltip="Home">
			<h3>Welcome</h3>
		</a>
		<span class="navbar-spacer"></span>
		<button mat-button [routerLink]="['/admin/login']">
			<mat-icon mat-list-icon>login</mat-icon>
			<span>Log in</span>
		</button>
	</mat-toolbar>
	<router-outlet></router-outlet>
</div>