<!doctype html>
<html lang="en">

<div class="container">
	<div>
		<div class="col-lg-10 mx-auto mb-4">
			<div class="section-title text-center ">
				<!-- <h3 class="top-c-sep">some text</h3>
				<p>some text</p> -->
			</div>
		</div>
	</div>
	<div class="grid-container">
		<div class="grid-item" *ngFor="let app of apps">
			<mat-card>
				<div class="job-left my-4 d-md-flex align-items-center flex-wrap">
					<mat-card-content>
						<mat-card-header>
							<mat-card-title> {{app.post.title}}</mat-card-title>
						</mat-card-header>
						<div class="card-header">
							<h2>Description:</h2>
							<p>
								{{app.post.description}}
							</p>
							<mat-divider></mat-divider>
							<p>
								<mat-chip class="mat-chip">
									<div class="inside-mat-chip">Location: {{app.post.location}}</div>
								</mat-chip>
								
							</p>
							<h2>Applicant:</h2>
							<p>
								{{app.user.username}}
							</p>
						
							<h2>Years of Experience:</h2>
							<p>
								{{app.user.yearsOfExperience}}
							</p>
						</div>
					</mat-card-content>
				</div>
				<mat-card-actions>
					<button mat-raised-button color="primary" (click)="openViewDialog(app.id)">VIEW</button>
					<button mat-raised-button color="primary" (click)="deleteJobApplication(app.id)">DELETE</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>

</html>