<!DOCTYPE html>
<html>
    <div class="dash">
        <img class="img-fluid" src='https://miro.medium.com/v2/resize:fit:1400/1*kUSvz1_db_u8vxpKE0YpfQ.png' alt="" style="width:100%;"> 
        <div class="text">
            <h1>Find <strong>best candidate</strong> for your company</h1>
            <p>Grow your business by finding the right talent for every role.</p>
            <a igxRipple [routerLink]="['/recruiter-home/candidates']" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Find Now</a>
            <a igxRipple [routerLink]="['/recruiter-home/recruiter-create-profile']" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Complete Profile</a>
        </div>
    </div>
    <router-outlet></router-outlet>
</html>   